.block.content
    span.head Навыки
    .skills
        div
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text Html
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text css3
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text БЭМ
        div
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text SASS
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text LESS
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text gULP
        div
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text vANILLAJS
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text aNGULAR
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text JQUERY
        div
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text GIT
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text fOUNDATION
            label.footer__checkbox.checkbox
                input(type="checkbox")
                .checkbox__text BOOTSTRAP